@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('<?=get_template_directory_uri()?>/css/roboto.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Light';
  font-style: normal;
  font-weight: 300;
  src: url('<?=get_template_directory_uri()?>/css/roboto-light.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: 700;
  src: url('<?=get_template_directory_uri()?>/css/roboto-bold.woff2') format('woff2');
}